*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body, html{
	height: 100%;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif, #ff22ff; 
	border-top:5px;
	border-top-color: black;
	padding-top: 0%;
	overflow-x: hidden;
}

/*#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;*/ /* hide this */
 /* z-index: 2;  and place it over the hamburger */
  
/*  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #01402c;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}*/

/*
 * But let's hide the middle one.
 */
/*#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


 * Ohyeah and the last one should go the other direction
 
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}*/

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
/*#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
   to stop flickering of text in safari 
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
*/
.ria{
	background-color: #01402c !important;
	background-image: none !important;
	font-color:#fff;
	background-repeat: no-repeat !important;
	/*overflow: hidden;
	max-height: 100px;
	this syntax preventing the dropdown menu from applying*/



.hot{
	background: green;
	background-image: none;
	background-repeat: no-repeat;

}

}
#food{
	font-color:#ffffff;
	background-color: #164001;
    transition: background-color !important;
    transition-duration: 4s;
    transition-timing-function: linear;
}

div#food:hover{
	background-color: #01402c;
}
section{
	float:left;
	margin:0 2%;
	width:auto;
}
 .aside{
	float: left;
	margin:1% 2%x;
	padding: 5px;
	width:auto;
	font-family: Verdana, geneva, sans-serif;
	color: #000;
	/*background-color: #01402c;*/
	/*border:1px;
	border-radius: 5px;
	border-style: solid;
	border-color: #000;*/
	box-sizing: border-box;
}
.olah{
	background-color: #01402c !important;
	color: #fff;

}
nav li.menu{
	background-color: #01402c !important;
	background-image: none !important;
	font-color:#fff;
	background-repeat: no-repeat !important;
	color: #fff;
	padding: 0 5px;
	margin:5px 0;
}
nav li.menu:hover{
	background-color: #01402c;
}
div.hero-image{
	/*background-image: url("../img/fruits.jpg");
*/	height: 80% !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.hero-text{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #01402c;

}
div.hero-text h1{
	font-size: 3em;
}
/*div.hero-text a .btn{
	color: white;
	border-color: #f2f2f2;
	border-radius: 8px;
	padding: 10px;
	
	height:50px;
}*/
div.hero-text p{
	font-size: 1em;
	/*color: #01402c;*/
}
#image{
	background-image: url(../img/fruits.jpg);
	color: #01402c;

}
#image p{
	color: #01402c;

}
#fruit{
	background-image: url(../img/fruits2.jpg);
	

}
#fruit p{
	color: #01402c;

}
#tuesday{
	background-image: url('../img/Peaches-and-Greens-Salad2.jpg');
	color:#000080;
}
#tuesday p{
	color:#f2f2f2;
}

#wednesday{
	background-image: url(../img/smothies.jpg);
	color:#f2f2f2;
}
#wednesday p{
	
	color:#f2f2f2;
}
#thursday{
	background-image: url(../img/drink.jpg) !important;
	
}
#thursday p{
	color:#01402c;
	
}
#myimg{
	width:25%;
	float: left;
	margin:15px;
	padding:0;
}
#about{
	width:auto;
	float:left;
	font-size: 16px;
	padding:5px 15px;
	margin:0 10px;
}
#contact{
	background-image: linear-gradient(0deg, rgba(34, 38, 36, 0.57), rgba(188, 255, 38, 0.7)),url(../img/cappuccino.png);
	color:#01402c;
	height: 70%;
	background-repeat: no-repeat;

}
.addy{
	width: 500px;
	font-size: 2em;
	color: #000;
	margin: auto;
	padding:10px;
}
.img{
	border-radius: 20px;
}
.overlay{
	background: rgba(38, 38, 38, 0.57);
	z-index:00;
}
#sign{
	float:right;
	display: inline-flex;
}
#smallt{
	float:right;
	display: inline-flex;
	color:#fff;
}
#user{
	display:inline;
}
select{
	box-shadow: gray;
	height: 40px;
	border-radius:10px;

}
option{
	margin-top: 15px;
}
form input{
	width: 70%;
	height: 20px;
}
textarea{
	margin: 5px;
	
	height:60px;
	box-sizing: border-box;
	border-radius: 10px;
}

.foodful img{
	border-radius:10px;
}

/*@media screen and (min-width: 601px) {
		div .row{
    font-size: 80px;
  }*/
}
@media screen and (max-width: 600px) {
 	 div.example {
    	font-size: 30px;
  	}
}

.row::after{
	content: " ";
	clear: both;
	display: table;
}
#namefield{
	max-width: 100%;
}
